* {
    font-family: "Nunito";
}

.geral {
    padding-top: 6em;
}

.geral1 {
    margin-top: 40px;
    margin-left: 316px;
    background-color: #fff;
    height: 765px;
    width: 1295px;
    border-radius: 20px;
}

.partecima {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo {
    margin-left: 535px;
    margin-top: 40px;
}

.pesquisa {
    margin-top: 40px;
    margin-right: 200px;
}

.searchbar {
    border-radius: 20px;
    height: 40px;
    width: 220px;
    border-width: 1.5px;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    width: 950px;
    margin-top: 70px;
    margin-left: 70px;
}

.cabecalho ::h2 {
    border-bottom: 20px;
}

.perfis {
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfis_geral {
    margin-top: 10px;
    margin-left: 6%;
    display: flex;
    align-items: center;

    height: 70px;
    width: 1150px;
    background-color: #FEF4B2;
    border-radius: 15px;
    box-shadow: 1px 1px 3px;
}


.numeracao {
    margin-right: 60px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
}

.input1 {
    margin-right: 90px;
    border-radius: 12px;
    border-width: 1px;
    border-color: grey;
    height: 40px;
    width: 220px;
}

.button {
    background-color: #E04141;
    border: none;
    height: 70px;
    width: 50px;
    margin-left: 80px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 32px;
}