/* Firefox */
* {
    scrollbar-width: 15px;
    scrollbar-color: var(--dark-yellow) var(--title-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--title-color);
}

*::-webkit-scrollbar-thumb {
    background-color: #f3dc3e;
    border-radius: 10px;
    border: 3px solid var(--title-color);
}

main {
    padding-top: 6em;
    min-height: 100vh;
}

.container {
    margin-bottom: 2em;
}

/* CONTAINER DE INDICAÇÃO DA PESQUISA */

.top-container>p {
    color: var(--text-one-color);
    padding-bottom: 1em;
}

.top-container>p>span {
    color: var(--text-two-color);
}

/* CONTAINER COM DROPDOWN E BARRA DE PESQUISA */

.middle-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 5em;
}

/* CONTAINER DO DROPDOWN */

.selects-container {
    display: grid;
    grid-template-columns: 9fr 1fr;
    width: 100%;
}

.select-dropdown-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.dropdown-buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.dropdown-buttons-container>a {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid var(--normal-blue);
    padding: 0 1em .2em 1em;
    border-radius: 20px;
    background-color: var(--detail-three-color);
    cursor: pointer;
    width: 30%;
}

.dropdown-buttons-container>a .icon-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.select-title>p,
.icon-container i {
    color: var(--title-color);
}

.compressed {
    display: none;
}

.uncompressed {
    display: block;
}

.all-dropdown-container {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    position: absolute;
    top: 3em;
}

.all-dropdown-container>div {
    width: fit-content;
    height: fit-content;
    max-height: 500px;
}

.all-dropdown-container .rate {
    grid-column: 2;
    justify-self: center;
}

.all-dropdown-container .category {
    grid-column: 3;
}

.select-container {
    overflow: auto;
    background-color: var(--title-color);
    border-radius: 20px;
    padding: 1em 0;
}

.dropdown {
    padding: 0 1em;
}

.dropdown>input {
    margin-right: .5em;
}

.dropdown>label {
    color: var(--detail-four-color);
}

.button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-submit>button {
    border-radius: 15px;
    background: var(--detail-one-color);
    color: var(--background-color);
    padding: .2em 1em;
}

/* CONTAINER DA BARRA DE PESQUISA */

/* .search-container {
    display: grid;
    grid-template-columns: 6fr 1fr;
    width: 100%;
    height: fit-content;
    line-height: 2;
    justify-content: space-between;
    border: 2px solid var(--title-color);
    border-radius: 20px;
    background-color: transparent
}

.lupa-container,
.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lupa-container {
    background-color: var(--dark-yellow);
    border-radius: 0 20px 20px 0;
    border: none;
}

.form-control::placeholder,
.form-control {
    color: var(--text-one-color);
}

.input-container>input {
    background: transparent;
    padding: 0 1em;
    border: none;
}

.form-control:focus {
    box-shadow: none;
} */

/* CONTAINER DE NUMERO DE MONITORES */

.bottom-container>p {
    color: var(--text-one-color);
    padding: .5em 0;
}

/* CONTAINER DE MONITORES */

.monitors-container>a {
    text-decoration: none;
    cursor: pointer;
    background-color: var(--detail-three-color);
    border-radius: 30px;
    margin: 1em .5em;
}

.img-container {
    width: 100%;
    padding-bottom: 1em;
}

.img-container img {
    width: 100%;
    border-radius: 30px;
}

.info-container .h4 {
    color: var(--text-two-color);
    margin-left: 16px;
}

.h6 {
    color: var(--text-one-color);
    font-weight: normal;
    padding: .4em 0;
    margin-left: 16px;

}

.rating-container>.h6 {
    text-align: center;
}

.rating-container .h6>i {
    color: var(--text-two-color);
    margin-right: .5em;
}

@media (max-width:500px) {

    /* CONTAINER GERAL SUPERIOR */

    .middle-container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2em;
    }

    /* CONTAINER DA BARRA DE BUSCA */

    .search-container {
        width: 100%;
        align-self: center;
        line-height: 2;
    }

    /* CONTAINER DOS DROPDOWNS DE FILTRAGEM */

    .selects-container {
        display: grid;
        grid-template-columns: 1fr;
        scrollbar-width: none;
        -ms-overflow-style: none;
        width: 100%;
        grid-area: 2;
        /* justify-content: space-between; */
    }

    .select-dropdown-container {
        width: 100%;
    }

    .selects-container::-webkit-scrollbar {
        display: none;
    }

    .dropdown-buttons-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        height: fit-content;
        column-gap: 1vw;
        margin-bottom: 1em;
    }


    .dropdown-buttons-container>a {
        padding: 0 .5em;
        min-width: fit-content;
        width: 100%;
    }

    .dropdown-buttons-container p {
        line-height: 2;
        font-size: calc(1vw + .8em);
    }

    .dropdown-buttons-container>a .icon-container {
        display: none;
    }

    .select-title {
        display: flex;
        align-items: center;
    }

    /* DROPDOWN */

    .all-dropdown-container {
        display: flex;
        justify-content: center;
    }

    .all-dropdown-container>div {
        width: fit-content;
        height: fit-content;
        max-height: 50vh;
    }

    .select-container {
        margin-top: 0;
        padding: 1em 0;
    }

    /* BOTÃO DE APLICAÇÃO */
    .button-submit {
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }

    .button-submit button {
        width: 100%;
    }
}