<main>
  <div class="container">
    <div class="header-content-container">
      <div class="top-container">
        <p class="result">
          Resultados para: <span class="h5"> {{ filterString }} </span>
        </p>
      </div>
      <div class="middle-container">
        <form
          [formGroup]="filterForm"
          class="selects-container"
          (ngSubmit)="submitFilter($event)"
        >
          <div class="select-dropdown-container">
            <div class="dropdown-buttons-container">
              <a (click)="compressOne()">
                <div class="select-title">
                  <p class="h4">Curso</p>
                </div>
                <div class="icon-container">
                  <i class="bi bi-arrow-down"></i>
                </div>
              </a>

              <a (click)="compressTwo()">
                <div class="select-title">
                  <p class="h4">Avaliação</p>
                </div>
                <div class="icon-container">
                  <i class="bi bi-arrow-down"></i>
                </div>
              </a>

              <a (click)="compressThree()">
                <div class="select-title">
                  <p class="h4">Categoria</p>
                </div>
                <div class="icon-container">
                  <i class="bi bi-arrow-down"></i>
                </div>
              </a>
            </div>

            <div class="all-dropdown-container">
              <div class="select-container course" [class]="compressedDivOne">
                <div class="dropdown" *ngFor="let course of coursesList">
                  <input
                    type="radio"
                    id="dropdownCourse{{ course.id }}"
                    class="form-check-input"
                    formControlName="course"
                    [value]="course.name"
                    name="course"
                  />
                  <label
                    for="dropdownCourse{{ course.id }}"
                    class="form-check-label"
                  >
                    {{ course.name }}
                  </label>
                </div>
              </div>
              <div class="select-container rate" [class]="compressedDivTwo">
                <div class="dropdown" *ngFor="let rate of ratingList">
                  <input
                    type="radio"
                    id="dropdownRate{{ rate }}"
                    class="form-check-input"
                    formControlName="rate"
                    [value]="rate"
                    name="rate"
                  />
                  <label for="dropdownRate{{ rate }}" class="form-check-label">
                    {{ rate }} <i class="bi bi-star-fill"> </i>
                  </label>
                </div>
              </div>
              <div
                class="select-container category"
                [class]="compressedDivThree"
              >
                <div class="dropdown" *ngFor="let category of categoryList">
                  <input
                    type="radio"
                    id="dropdownCategory{{ category?.id }}"
                    class="form-check-input"
                    formControlName="category"
                    [value]="category?.titulo"
                    name="category"
                  />
                  <label
                    for="dropdownCategory{{ category?.id }}"
                    class="form-check-label"
                  >
                    {{ category?.titulo }}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="button-submit">
            <button type="submit" class="btn btn-light">APLICAR</button>
          </div>
        </form>
        <app-input-search></app-input-search>
      </div>
      <div class="bottom-container">
        <p class="number-monitor">
          <span class="h5"> {{ monitorsNumber }}</span> Monitores disponíveis
        </p>
      </div>
    </div>
    <div class="monitors-container justify-content-center">
      <a
        class="single-container"
        *ngFor="let monitor of monitorList"
        routerLink="/aula/{{ monitor.id }}"
      >
        <div class="img-container">
          <img src="{{ monitor.foto_perfil }}" alt="" />
        </div>
        <div class="info-container">
          <p class="h4">{{ monitor.nome }}</p>
          <p class="h6">{{ monitor.curso }}</p>
        </div>
        <div class="rating-container">
          <p class="h6">
            <i class="bi bi-star-fill"></i
            >{{ monitor.monitor.nota_avaliacao }}/5
          </p>
        </div>
      </a>
    </div>
    <div *ngIf="monitorList?.length == 0" class="no-monitors-container">
      <p class="h3 text-center py-5">Nenhum monitor encontrado</p>
    </div>
  </div>
  <app-footer-nav></app-footer-nav>
</main>
