<main>
  <div class="container">
    <div class="header-content-container">
      <div class="top-container">
        <p class="result">
          Resultados para: <span class="h5"> {{ "busca_span" }} </span>
        </p>
      </div>
      <div class="middle-container">
        <form class="selects-container">
          <div class="select-dropdown-container">
            <div class="dropdown-buttons-container">
              <a (click)="compressOne()">
                <div class="select-title">
                  <p class="h4">Curso</p>
                </div>
                <div class="icon-container">
                  <i class="bi bi-arrow-down"></i>
                </div>
              </a>

              <a (click)="compressTwo()">
                <div class="select-title">
                  <p class="h4">Avaliação</p>
                </div>
                <div class="icon-container">
                  <i class="bi bi-arrow-down"></i>
                </div>
              </a>

              <a (click)="compressThree()">
                <div class="select-title">
                  <p class="h4">Categoria</p>
                </div>
                <div class="icon-container">
                  <i class="bi bi-arrow-down"></i>
                </div>
              </a>
            </div>

            <div class="all-dropdown-container">
              <div class="select-container course" [class]="compressedDivOne">
                <div class="dropdown" *ngFor="let course of coursesList">
                  <input
                    type="checkbox"
                    id="dropdownOne"
                    class="form-check-input"
                  />
                  <label for="dropdownOne" class="form-check-label">
                    {{ course.name }}
                  </label>
                </div>
              </div>
              <div class="select-container rate" [class]="compressedDivTwo">
                <div class="dropdown" *ngFor="let rate of ratingList">
                  <input
                    type="checkbox"
                    id="dropdownTwo"
                    class="form-check-input"
                  />
                  <label for="dropdownTwo" class="form-check-label">
                    {{ rate.value }}/5 <i class="bi bi-star-fill"> </i>
                  </label>
                </div>
              </div>
              <div
                class="select-container category"
                [class]="compressedDivThree"
              >
                <div class="dropdown" *ngFor="let category of categoryList">
                  <input
                    type="checkbox"
                    id="dropdownThree"
                    class="form-check-input"
                  />
                  <label for="dropdownThree" class="form-check-label">
                    {{ category.name }}
                  </label>
                </div>
              </div>
              <!-- <div class="first-select-container select"></div>
              <div class="second-select-container select"></div>
            <div class="third-select-container select"></div> -->
            </div>
          </div>
          <div class="button-submit">
            <button type="submit" class="btn btn-light">APLICAR</button>
          </div>
        </form>
        <form class="search-container">
          <div class="input-container">
            <input
              type="text"
              class="form-control"
              placeholder="Pesquisar assunto/matéria"
            />
          </div>
          <button class="lupa-container">
            <div class="lupa">
              <i class="bi bi-search"></i>
            </div>
          </button>
        </form>
      </div>
      <div class="bottom-container">
        <p class="number-monitor">
          <span class="h5"> {{ monitorsNumber }}</span> Monitores disponíveis
        </p>
      </div>
    </div>
    <div class="monitors-container row justify-content-center">
      <a
        class="single-container p-0 col-12 col-sm-6 col-md-4 col-lg-3"
        *ngFor="let monitor of monitorList"
        routerLink="/aula"
      >
        <div class="img-container">
          <img src="{{ monitor.image }}" alt="" />
        </div>
        <div class="info-container">
          <p class="h4">{{ monitor.name }}</p>
          <p class="h6">{{ monitor.course }}</p>
        </div>
        <div class="rating-container">
          <p class="h6"><i class="bi bi-star-fill"></i>{{ monitor.rate }}/5</p>
        </div>
      </a>
    </div>
  </div>
  <app-footer-nav></app-footer-nav>
</main>
