main {
    padding-top: 6em;
    min-height: 100vh;
}

.middle-container {
    display: flex;
    justify-content: space-between;
}

/* .dropdown {
    position: absolute;
} */

.compressed {
    display: none;
}

.descompressed {
    display: block;
}