main {
    padding-top: 6em;
    min-height: 100vh;
}

.container {
    min-height: calc(94vh - 6em);
}

p {
    color: var(--text-one-color);
    font-family: "Quicksand";
}

h2,
span.h3,
button {
    font-family: "Nunito";
}

/* BARRA DE PESQUISA SUPERIOR */

.search-component-container {
    width: 50%;
}

/* CONTAINER GERAL */

.monitor-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 4em;
}

/* CONTAINER ESQUERDO */

.main-monitor-data {
    margin-right: 5em;
}

.monitor-info-container {
    padding-bottom: 1em;
    border-bottom: 1px solid var(--text-one-color);

}

.monitor-info-container>div {
    margin: .5em 0;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 10%;
}

.profile-pic img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name>h2 {
    margin-left: 1em;
    color: var(--text-one-color);
}

/* CONTAINER AVALIAÇÃO GERAL */

.course-rate-container>p {
    margin: 1em 0;
    color: var(--text-one-color);
}

.course-rate-container .rate-button {
    display: flex;
    align-items: center;

}

.rate-button .rating {
    width: 10%;
    text-align: center;
    color: var(--text-one-color);

}

.rating span {
    font-weight: bold;
}

.rate-button button {
    background: var(--text-two-color);
    color: var(--detail-four-color);
    text-transform: uppercase;
    margin-left: 2em;
    border-radius: 20px;
}


/* CONTAINER DE ASSUNTOS E DADOS */

.learning-container>div {
    margin: 1em 0;
}

.about-container p,
.subject-container p {
    color: var(--text-one-color);
    padding-bottom: .5em;
    text-align: justify;
}

.subjects-single-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.subjects-single-container p {
    font-weight: 500;
    padding: .5em 0;
}

.contatos>div {
    margin: 2em 0;
}


/* CONTAINER DIREITO */

.fixed-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translate(0, -100%);
}

.interest-button {
    background: var(--detail-two-color);
    border: none;
    border-radius: 30px;
    color: var(--text-one-color);
    font-size: calc(1vw + .5em);
    padding: .5em 1.5em;
    width: 100%;
    box-shadow: 0 0 0 0 var(--pulse-color);
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.interest-button:active {
    background: var(--detail-three-color);
}

.interest-button:disabled {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
    opacity: .8;
}

.pulse-button:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}

.btn-warning {
    border-radius: 20px;
    font-size: calc(1vw + .4em);
}


@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);
    }
}

.footer-box {
    position: relative;
    bottom: 0;
    width: 100%;
}

/*  CONTAINER D CONFIRMAÇÃO DE ENVIO */
.send-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.301);
    z-index: 4;
}

.send-container p {
    background-color: var(--white);
    border-radius: 20px;
    padding: 1em;
    text-align: center;
    width: 50%;
}

/* CONTAINER DE ENVIO DA NOTA MONITOR */
.rate-form-back {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.301);
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rate-form-box {
    background-color: var(--white);
    padding: 1em;
    font-size: calc(1vw + 1em);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.stars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: .5em;
    margin-top: .5em;
}

.stars span .bi-star-fill:hover::before {
    color: var(--detail-two-color);
    cursor: pointer;
}

@media (max-width: 500px) and (orientation: portrait) {

    .search-component-container {
        width: 100%;
    }

    .monitor-container {
        display: flex;
        flex-direction: column;
        margin: 2em 0;
    }

    /* CONTAINER DO MONITOR */

    .main-monitor-data {
        margin: 0;
    }

    .subjects-single-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    /* CONTAINER SUPERIOR */

    .contacts-container p {
        margin: 1em 0;
    }

    .button-container {
        line-height: 3;
        transform: translate(0, 0);
    }

    .interest-button {
        font-size: calc(1vw + 1em);
    }

}