<main>
  <div class="container">
    <div class="search-component-container">
      <app-input-search></app-input-search>
    </div>
    <div class="monitor-container">
      <div class="main-monitor-data">
        <div class="monitor-info-container">
          <div class="profile-container">
            <div class="profile-pic">
              <img src="{{ monitorBody?.foto_perfil }}" alt="" />
            </div>
            <div class="profile-name">
              <h2>{{ monitorBody?.nome | titlecase }}</h2>
            </div>
          </div>
          <div class="course-rate-container">
            <p class="h5">
              Aluno do curso de
              <span>{{ monitorBody?.curso }}</span>
            </p>
            <div class="rate-button">
              <p class="rating">
                <i class="bi bi-star-fill"></i>
                <span>{{ monitorBody?.monitor?.nota_avaliacao }}</span
                >/5
              </p>
              <button class="btn">Avalie esse monitor</button>
            </div>
          </div>
        </div>
        <div class="learning-container">
          <div class="about-container">
            <p class="h3">Sobre esse monitor</p>
            <p>
              {{ monitorBody?.monitor?.descricao }}
            </p>
          </div>
          <div class="subject-container">
            <p class="h3">Assuntos ensinados</p>
            <div class="subjects-single-container">
              <p
                *ngFor="let assunto of monitorBody?.monitor?.assuntos"
                class="subject"
              >
                - {{ assunto }}
              </p>
            </div>
          </div>
        </div>
        <div class="contacts-container">
          <p class="h3">Contatos</p>
          <div class="contatos">
            <div class="contato1">
              <p
                class="h5"
                *ngIf="
                  monitorBody?.contato_numero_1[0] == '1' &&
                  monitorBody?.contato_numero_1.length > 10
                "
              >
                Celular
              </p>
              <p *ngIf="monitorBody?.contato_numero_1[0] != '1'" class="h5">
                Telefone
              </p>
              <p>{{ monitorBody?.contato_numero_1 | phone }}</p>
            </div>
            <div *ngIf="monitorBody?.contato_numero_2 != ''" class="contato2">
              <p class="h5">Contato Secundário</p>
              <p>{{ monitorBody?.contato_numero_2 | phone }}</p>
            </div>
            <div class="email contato">
              <p class="h5">Email</p>
              <p>{{ monitorBody?.email }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="fixed-container">
        <div class="button-container">
          <button class="interest-button" (click)="adicionarInteresse()">
            TENHO INTERESSE NA AULA
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-box">
    <app-footer-nav></app-footer-nav>
  </div>
  <p *ngIf="interesseSend" class="h1">SEU INTERESSE FOI ENVIADO COM SUCESSO</p>
</main>
