<main>
  <div class="container">
    <div class="login-container">
      <div class="title-container">
        <h1 class="title">{{ "Login" | uppercase }}</h1>
        <h1 class="title">{{ "Login" | uppercase }}</h1>
        <h1 class="title">{{ "Login" | uppercase }}</h1>
        <h1 class="title">{{ "Login" | uppercase }}</h1>
        <h1 class="title">{{ "Login" | uppercase }}</h1>
        <h1 class="title">{{ "Login" | uppercase }}</h1>
        <h1 class="title">{{ "Login" | uppercase }}</h1>
      </div>
      <div class="data-container">
        <div class="email-container">
          <input placeholder="Email" type="email" class="form-control email" />
        </div>
        <div class="pass-container">
          <input placeholder="Senha" type="password" class="form-control" />
        </div>
        <div class="connection-container form-check px-4">
          <input class="form-check-input" type="checkbox" id="conn" />
          <label class="form-check-label" for="conn">Manter-me conectado</label>
        </div>
        <div class="button-login-container">
          <button class="btn">Entrar</button>
        </div>
      </div>
      <div class="button-bottom-container">
        <div class="no-account-container">
          <button class="no-account btn">Não possuo conta</button>
        </div>
        <div class="forget-container">
          <button class="forget-pass btn">Esqueci minha senha</button>
        </div>
      </div>
    </div>
  </div>
</main>
