<main>
  <div class="container">
    <div class="login-container">
      <div class="title-container">
        <h1 class="title">{{ "Login" | uppercase }}</h1>
      </div>
      <form
        class="data-container"
        [formGroup]="loginForm"
        (ngSubmit)="submitLogin()"
      >
        <div class="email-container">
          <input
            placeholder="Email"
            type="email"
            formControlName="email"
            class="form-control email"
          />
        </div>
        <div class="pass-container">
          <input
            placeholder="Senha"
            [type]="typeInputPass"
            class="form-control password"
            formControlName="senha"
          />
          <div class="visibility-container">
            <a class="" (click)="changeVisibility()">
              <i [class]="typeEye"></i>
            </a>
          </div>
        </div>
        <p>*Mínimo 8 caracteres</p>
        <div class="connection-container form-check px-4">
          <input
            class="form-check-input"
            formControlName="cont_logado"
            type="checkbox"
            id="conn"
          />
          <label class="form-check-label" for="conn">Manter-me conectado</label>
        </div>
        <div class="button-login-container">
          <button class="btn" type="submit" [disabled]="!loginForm.valid">
            Entrar
          </button>
        </div>
      </form>
      <div class="button-bottom-container">
        <div class="no-account-container">
          <button class="no-account btn">
            <a routerLink="/register">Não possuo conta</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
