<main>
  <div class="container">
    <section class="container">
      <div class="title-container">
        <h1>{{ "login" | uppercase }}</h1>
      </div>
      <form class="form container" action="">
        <div class="inputbox row">
          <div class="col-11">
            <input class="form-control" type="email" id="email" required />
          </div>
          <div class="col-1 d-flex justify-content-center">
            <i class="bi bi-envelope"></i>
          </div>
        </div>
        <div class="inputbox row">
          <i class="bi bi-lock col-2"></i>
          <input class="form-control" type="password" required />
        </div>
        <button>login</button>
      </form>
      <div class="forget">
        <label for=""><input type="checkbox" />lembrar</label>
        <a href="#">esqueci minha senha</a>
      </div>
      <div class="register">
        <p>não tenho uma conta <a href="#">registrar</a></p>
      </div>
    </section>
  </div>
</main>
