/* EXTENDER A TELA PARA TODA A TELA DO USUÁRIO */
main {
    padding-top: 6.5em;
    background-color: #b467a5;
    background-image: linear-gradient(43deg, #b467a5 0%, #785bb5 46%, #3e4bab 100%);
    width: 100%;
    height: 100vh;
}

/* CENTRALIZAÇÃO DO CONTAINER DE LOGIN E PASSAGEM DO TAMANHO */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-container {
    width: 60%;
    padding: 3em 3em .5em 3em;
    border-radius: 50px;
    background-color: var(--detail-five-color);
}

/* CONTAINER DO TITULO */

.title-container {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.title {
    color: var(--detail-one-color);
    font-family: "Quicksand";
    font-weight: bold;
}

/* CONTAINER GERAL DOS DADOS */

.data-container {
    display: flex;
    flex-direction: column;
}

.data-container>div {
    padding: 1.5em 0;
}

/* CONTAINER DO DADO DE SENHA */

.pass-container {
    display: flex;
}

.password {
    width: 95%;
}

.visibility-container {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.visibility-container button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

/* INPUTS DE EMAIL E SENHA */

.form-control {
    border-radius: 0px;
    border: 1px solid var(--text-one-color);
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
    text-overflow: ellipsis;
    box-shadow: none;
}

label,
.form-control,
.form-control::placeholder,
button:hover,
.forget-pass:active,
.no-account:active,
button,
.button-login-container button {
    color: var(--text-one-color);
}

.btn {
    position: relative;
    bottom: 0;
    transition: all 250ms ease;
}

.btn:hover {
    bottom: .5em;
    transition: bottom 250ms ease;
}


/* CHECKBOX INPUT */

.form-check-input:checked {
    box-shadow: none;
}

/* BOTAO DE ENTRADA LOGIN */

.button-login-container {
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

.button-login-container button {
    background-color: var(--detail-two-color);
    padding: .5em 3em;
    font-size: calc(1vw + .1em);
    border-radius: 20px;
}

/* CONTAINER BOTOES NA BASE */

.button-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-account {
    background-color: var(--detail-three-color);
    border-radius: 20px;
    padding: .5em 2em;
}

.no-account a {
    text-decoration: none;
    color: var(--text-one-color);
}