<section>
  <div class="container">
    <div class="dashboard-box row">
      <div class="edit-info-container col-12 col-xl-6">
        <div class="header-name-button">
          <p class="name">{{ usuarioAtualStorage?.nome }}</p>
          <div class="button-delete-container">
            <button (click)="confirmDelete()">
              <i class="bi bi-x"></i>Excluir
            </button>
            <button class="leave" (click)="confirmExit()">
              <i class="bi bi-door-open"></i>Sair
            </button>
          </div>
        </div>

        <form [formGroup]="updateUserForm" action="" class="info-student">
          <div class="edit-pic-section">
            <div class="photo-container">
              <img src="{{ usuarioAtualStorage?.foto_perfil }}" alt="" />
              <div class="button-edit-container">
                <input
                  type="file"
                  (change)="handleFileInput($event)"
                  accept="image/png, image/jpeg, image/jpg"
                  [disabled]="typeEdit"
                  class="form-control"
                />
              </div>
            </div>
          </div>
          <div class="name-container">
            <div class="name-one">
              <p class="keyname">Nome</p>
            </div>
            <div class="name-two">
              <input
                type="text"
                placeholder=" {{ usuarioAtualStorage?.nome }} "
                formControlName="nome"
              />
            </div>
          </div>
          <div class="course-container">
            <div class="course-one">
              <p class="keyname">Curso</p>
            </div>
            <div class="course-two">
              <input
                type="text"
                placeholder=" {{ usuarioAtualStorage?.curso }} "
                formControlName="curso"
              />
            </div>
          </div>
          <div class="email-container">
            <div class="email-one">
              <p class="keyname">Email</p>
            </div>
            <div class="email-two">
              <input
                type="email"
                placeholder=" {{ usuarioAtualStorage?.email }} "
                formControlName="email"
                value=" {{ usuarioAtualStorage?.email }} "
              />
            </div>
          </div>
          <div class="contact-first-container">
            <div class="contact-first-one">
              <p class="keyname">Contato 1</p>
            </div>
            <div class="contact-first-two">
              <input
                appOnlyNumbers
                type="tel"
                placeholder=" {{ usuarioAtualStorage?.contato_numero1 }} "
                formControlName="contato_numero1"
                value=" {{ usuarioAtualStorage?.contato_numero1 }} "
              />
            </div>
          </div>
          <div class="pass-container">
            <div class="pass-one">
              <p class="keyname">Senha</p>
            </div>
            <div class="pass-two">
              <input
                type="text"
                placeholder=" {{ usuarioAtualStorage?.senha }} "
                formControlName="senha"
              />
            </div>
          </div>
          <div class="contact-second-container">
            <div class="contact-second-one">
              <p class="keyname">Contato 2</p>
            </div>
            <div class="contact-second-two">
              <input
                type="text"
                placeholder=" {{ usuarioAtualStorage?.contato_numero2 }} "
                formControlName="contato_numero2"
                value=" {{ usuarioAtualStorage?.contato_numero2 }} "
              />
            </div>
          </div>
          <div *ngIf="isMonitor" class="about-container">
            <p class="keyname">Descrição</p>
            <div class="text-container" formGroupName="monitor">
              <label for="description"
                >Faça um resumo sobre você como aluno e como aborda as aulas
                dentro da monitoria</label
              >
              <textarea
                formControlName="descricao"
                name=""
                id="description"
                cols=""
                rows="5"
              ></textarea>
            </div>
          </div>

          <div *ngIf="isMonitor" class="assuntos-container container">
            <div>
              <div class="assuntos-atuais">
                <p class="keyname">Assuntos Atuais</p>
                <div
                  *ngFor="
                    let assunto of assuntosAtualUsuarioStorage;
                    let index = index
                  "
                >
                  <p>
                    {{ assunto }}
                  </p>
                  <button
                    [disabled]="typeEdit"
                    class="btn btn-danger"
                    (click)="removerAssunto(index)"
                  >
                    Remover assunto
                  </button>
                </div>
              </div>
              <div class="assunto-box">
                <button
                  class="{{ buttonAddClass }}"
                  [disabled]="typeEdit"
                  (click)="addAssunto()"
                >
                  {{ buttonAddString }}
                </button>
                <div *ngIf="addConfirm" class="assuntos-todos">
                  <div
                    *ngFor="let assunto of listaAssuntosDatabase"
                    class="assunto-input-container"
                  >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=" {{ assunto.titulo }} "
                      [disabled]="typeEdit"
                      (change)="getAssunto($event)"
                    />
                    <label for=" assunto{{ assunto.id }} ">
                      {{ assunto.titulo }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="edit-button-container">
            <button
              [type]="typeButton"
              [class]="themeButton"
              (click)="changeEditProfile()"
            >
              <i class=""></i>{{ buttonContent }}
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="container-back-confirm" [class]="showBackGrnd"></div>
    <div class="confirm-delete" [class]="showConfirmDelete">
      <div class="quest">
        <p>Tem certeza que deseja deletar o seu perfil?</p>
      </div>
      <div class="buttons-confirm">
        <div class="button-one-section">
          <button class="btn btn-success" (click)="deleteProfile()">
            Confirmar
          </button>
        </div>
        <div class="button-two-section">
          <button class="btn btn-danger" (click)="confirmDelete()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
    <div class="confirm-leave" [class]="showConfirmLeave">
      <div class="quest">
        <p>Tem certeza que deseja sair do seu perfil?</p>
      </div>
      <div class="buttons-confirm">
        <div class="button-one-section">
          <button class="btn btn-success" (click)="exitProfile()">
            Confirmar
          </button>
        </div>
        <div class="button-two-section">
          <button class="btn btn-danger" (click)="confirmExit()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
