<section>
  <div class="container">
    <div class="dashboard-box row">
      <div class="edit-info-container col-12 col-xl-6">
        <div class="header-name-button">
          <p class="name">{{ actualUser.nome }}</p>
          <div class="button-delete-container">
            <button (click)="confirmDelete()">
              <i class="bi bi-x"></i>Excluir
            </button>
            <button class="leave" (click)="confirmExit()">
              <i class="bi bi-door-open"></i>Sair
            </button>
          </div>
        </div>

        <form [formGroup]="updateProfileForm" action="" class="info-student">
          <div class="edit-pic-section col-12 col-xl-6">
            <div class="photo-container">
              <img src="{{ actualUser.foto_perfil }}" alt="" />
              <div class="button-edit-container">
                <input
                  type="file"
                  (change)="handleFileInput($event)"
                  accept="image/png, image/jpeg, image/jpg"
                  formControlName="foto_perfil"
                />
              </div>
            </div>
          </div>
          <div class="name-container">
            <div class="name-one">
              <p>Nome</p>
            </div>
            <div class="name-two">
              <input
                type="text"
                placeholder=" {{ actualUser.nome }} "
                formControlName="nome"
              />
            </div>
          </div>
          <div class="course-container">
            <div class="course-one">
              <p>Curso</p>
            </div>
            <div class="course-two">
              <input
                type="text"
                placeholder=" {{ actualUser.curso }} "
                formControlName="curso"
              />
            </div>
          </div>
          <div class="email-container">
            <div class="email-one">
              <p>Email</p>
            </div>
            <div class="email-two">
              <input
                type="text"
                placeholder=" {{ actualUser.email }} "
                formControlName="email"
                value=" {{ actualUser.email }} "
              />
            </div>
          </div>
          <div class="contact-first-container">
            <div class="contact-first-one">
              <p>Contato 1</p>
            </div>
            <div class="contact-first-two">
              <input
                type="text"
                placeholder=" {{ actualUser.contato_numero1 }} "
                formControlName="contato_numero1"
                value=" {{ actualUser.contato_numero1 }} "
              />
            </div>
          </div>
          <div class="pass-container">
            <div class="pass-one">
              <p>Senha</p>
            </div>
            <div class="pass-two">
              <input
                type="text"
                placeholder=" {{ actualUser.senha }} "
                formControlName="senha"
              />
            </div>
          </div>
          <div class="contact-second-container">
            <div class="contact-second-one">
              <p>Contato 2</p>
            </div>
            <div class="contact-second-two">
              <input
                type="text"
                placeholder=" {{ actualUser.contato_numero2 }} "
                formControlName="contato_numero2"
                value=" {{ actualUser.contato_numero2 }} "
              />
            </div>
          </div>

          <div *ngIf="isMonitor" class="assuntos-container container">
            <div
              *ngFor="let assunto of assuntosList"
              class="assunto-input-container"
            >
              <input
                class="form-check-input"
                id=" assunto{{ assunto.id }} "
                type="radio"
                value=" {{ assunto.name }} "
                (change)="getCategory($event)"
                [disabled]="typeEdit"
              />
              <label for=" assunto{{ assunto.id }} ">
                {{ assunto.name }}
              </label>
            </div>
          </div>
          <div class="edit-button-container">
            <button
              [type]="typeButton"
              [class]="themeButton"
              (click)="changeEditProfile()"
            >
              <i class=""></i>{{ buttonContent }}
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="container-back-confirm" [class]="showBackGrnd"></div>
    <div class="confirm-delete" [class]="showConfirmDelete">
      <div class="quest">
        <p>Tem certeza que deseja deletar o seu perfil?</p>
      </div>
      <div class="buttons-confirm">
        <div class="button-one-section">
          <button class="btn btn-success" (click)="deleteProfile()">
            Confirmar
          </button>
        </div>
        <div class="button-two-section">
          <button class="btn btn-danger" (click)="confirmDelete()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
    <div class="confirm-leave" [class]="showConfirmLeave">
      <div class="quest">
        <p>Tem certeza que deseja sair do seu perfil?</p>
      </div>
      <div class="buttons-confirm">
        <div class="button-one-section">
          <button class="btn btn-success" (click)="exitProfile()">
            Confirmar
          </button>
        </div>
        <div class="button-two-section">
          <button class="btn btn-danger" (click)="confirmExit()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
