section {
    padding-top: 4em;
    height: 100vh;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER GERAL */

.dashboard-box {
    background-color: var(--detail-three-color);
    border-radius: 30px;
    width: 100%;
    height: 70%;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}

/* SEÇÃO ESQUERDA */

.edit-pic-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-container {
    width: 30%;
    height: 50%;
    min-width: fit-content;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 2em;
}

.photo-container img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.photo-container>div {
    display: flex;
    width: 100%;
}

.button-edit-container button {
    width: 100%;
    text-align: center;
    border: 2px dotted var(--title-color);
    background: transparent;
    padding: .5em 1em;
    border-radius: 15px;
    color: var(--title-color);
    font-family: "Nunito";
}

/* SEÇÃO DIREITA */

.edit-info-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100%;
}

/* SEÇÃO DE INFORMAÇÕES */

.header-name-button {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header-name-button>p {
    align-self: end;
    color: var(--title-color);
}

.header-name-button>div {
    justify-self: end;
    margin: 1em;
}

.header-name-button .name {
    font-size: calc(1vw + 1.2em);
    font-weight: bold;
    font-family: "Quicksand";
}

.button-delete-container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.button-delete-container button:not(.leave) {
    padding: .5em 1em;
    border: none;
    background-color: var(--red);
    color: var(--white);
    border-radius: 20px;
    font-family: "Nunito";
}

.leave {
    padding: .5em 1em;
    border: none;
    background-color: var(--detail-six-color);
    color: var(--white);
    border-radius: 20px;
    font-family: "Nunito";
}

.info-student {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: end;
}

.info-student>div {
    align-self: end;
}

.info-student p {
    font-family: "Nunito";
    font-size: calc(1vw + .6em);
    color: var(--text-two-color);
}

.info-student input {
    margin: 0;
    padding: 0 .2em;
}

.info-student input {
    border-radius: 10px;
    border: 1px solid var(--black);
    padding: 0 .2em;
    line-height: 2;
}

.info-student input:disabled {
    background: transparent;
    border: none;
}

.info-student input:disabled::placeholder {
    color: var(--title-color);
}

/* BOTÃO DE EDIÇÃO */

.edit-button-container {
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    height: 44px;
}

.edit-button-container>button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5em;
    width: 50%;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Quicksand";
}

.edit {
    background-color: var(--text-two-color);
    color: var(--detail-four-color);
    border: none;
}

.conclusion {
    background-color: transparent;
    color: var(--text-two-color);
    border: 2px solid var(--text-two-color);
}

/* CAIXA DE CONFIRMAÇÃO DE EXCLUSÃO */

.hide {
    display: none;
}

.show {
    display: block;
}

.container-back-confirm {
    position: absolute;
    background: var(--black);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .7;
}

.confirm-delete {
    position: absolute;
    padding: 2em;
    border-radius: 20px;
    font-family: "Nunito";
    background: var(--white);
}

.quest {
    padding-bottom: 1em;
}

.quest p {
    font-size: calc(1vw + .8em);
    font-weight: bold;
}

.buttons-confirm {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}