/* You can add global styles to this file, and also import other style files */

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--dark-yellow) var(--background-color);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--background-color);
}

*::-webkit-scrollbar-thumb {
    background-color: #f3dc3e;
    border-radius: 10px;
    border: 3px solid var(--background-color);
}

:root,
.light:root {
    --light-yellow: #FFFCE7;
    --normal-yellow: #FAE86F;
    --dark-yellow: #F3DC3E;
    --alternative-yellow: #FEF4B2;
    --light-blue: #7079E3;
    --normal-blue: #3B45BC;
    --dark-blue: #140E2E;

    --red: #E04141;
    --green: #4DBF3A;
    --white: #FFFFFF;


    --title-color: #140E2E;
    --subtitle-color: #140E2E;
    --text-one-color: #140E2E;
    --text-two-color: #3B45BC;
    --background-color: #FFFCE7;
    --detail-one-color: #3B45BC;
    --detail-two-color: #F3DC3E;
    --detail-three-color: #FEF4B2;
    --detail-four-color: #FFFFFF;

}

.dark:root {
    --title-color: #FFFCE7;
    --subtitle-color: #FFFCE7;
    --text-one-color: #FFFFFF;
    --text-two-color: #F3DC3E;
    --background-color: #140E2E;
    --detail-one-color: #FFFFFF;
    --detail-two-color: #333DAB;
    --detail-three-color: #434FDE;
    --detail-four-color: #000000;
}

@font-face {
    font-family: "Quicksand";
    src: url("assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("assets/fonts/Nunito/Nunito-VariableFont_wght.ttf");
}



h1,
h2,
h3,
h4,
h5,
h6,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.row {
    margin: 0;
    padding: 0;
}