/* DETERMINAR O TAMANHO DA TELA */

body {
    background-color: var(--background-color);
    padding-top: 7em;
    min-height: 100vh;
    width: 100%;
}

/* FONTE */

p {
    font-family: "Nunito";
}

/* CENTRALIZAÇÃO DO CONTAINER */

.container {
    justify-content: center;
}

/* CONFIGURAÇÃO DO TÍTULO */

.title h1 {
    margin-bottom: 3em;
    color: var(--title-color);
    font-weight: bold;
    font-family: "Quicksand";
    font-size: calc(1vw + 20px);
}

/* CONTAINER IMAGEM */

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    margin-top: -8em;
    max-width: 250px;
    width: 15vw;
}

/* CONTAINER DE EXPLICAÇÃO GERAL*/

.explanation-main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    grid-template-rows: .5fr 1fr .5fr;
    padding: 0;
}

/* CONTAINER DAS SETAS */

.empty {
    width: 40%;
    max-width: 250px;
}

.arrow-container-one,
.arrow-container-two {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.arr-mob {
    display: none;
}

.arr-1 {
    margin-left: -2.5vw;
}

.arr-2 {
    margin-right: -2.5vw;
}

.arr-1,
.arr-2 {
    width: 40%;
    max-width: 250px;
    max-height: 200px;
}

.arr-3,
.arr-4 {
    max-width: 40px;
    min-width: 20px;
    aspect-ratio: 1/2;
    width: 3vw;

}

/* CONTAINERS 1 - 5 */

.explanation-container p {
    background-color: var(--detail-two-color);
    padding: .5em;
    border-radius: 20px;
}

/* CONTAINER 2 E 3 */

.ex-2,
.ex-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.ex-2 p,
.ex-3 p {
    font-weight: bold;
}

/* CONTAINER 1, 4 E 5 */

.text {
    color: var(--text-two-color);
    text-align: center;
    font-size: calc(1vw + .4em);
}

@media (max-width: 1100px) {
    body {
        height: 60vh;
    }
}

@media (max-width: 500px) and (orientation: portrait) {

    body {
        padding-top: 2em;
        min-height: 50vw;
    }

    .title h1 {
        text-align: center;
    }

    .explanation-main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: .5fr 1fr 1fr;
    }

    .explanation-container p {
        font-size: calc(1vw + .6em);
    }

    .arrow-container-one {
        justify-content: flex-end;
        margin-right: .5em;
        margin-top: 2em;
    }

    .arrow-container-two {
        justify-content: flex-start;
        margin-left: .5em;
        margin-top: 2em;
    }

    .arr-1,
    .arr-2 {
        display: none;
    }

    .arr-mob {
        display: inline-block;
    }

    .arr-mob {
        max-width: 40px;
        min-width: 20px;
        aspect-ratio: 1/2;
        width: 3vw;
    }

    .mob-1 {
        transform: rotate(.125turn);
    }

    .mob-2 {
        transform: rotate(-.125turn);
    }

    .image-container img {
        display: none;
    }

    .ex-2 {
        margin-right: -3em;
    }

    .ex-3 {
        margin-left: -3em;
    }

    .ex-4 {
        margin-right: -3em;
    }

    .ex-5 {
        margin-left: -3em;
    }

}