body {
    background-color: var(--background-color);
    padding: 7em 0;
    height: 100vh;
}

.title {
    padding-bottom: 3em;
}

.title h1 {
    color: var(--title-color);
    font-weight: bold;
    font-family: "Quicksand";
}

.container {
    justify-content: center;
}

.explanation-main {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.arrow-container {
    display: flex;
    justify-content: center;
}

.arr-1,
.arr-2 {
    width: 200px;
    height: 200px;
}

.arr-3,
.arr-4 {
    width: 40;
    height: 70px;
}

.ex-2,
.ex-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.ex-2 p,
.ex-3 p {
    font-weight: bold;
    font-size: calc(1vw + .4em);
}

.ex-1,
.ex-4,
.ex-5 {
    font-size: calc(1vw + .3em);
}

.text {
    color: var(--text-two-color);
}