<body id="how-it-works">
  <div class="container">
    <div class="title">
      <p>{{ "Como funciona" | uppercase }}</p>
    </div>
    <div class="container row">
      <div class="explanation">
        <div class="arrow arr-1">
          <img src="/assets/img/arrow1.png" alt="" class="arr-1" />
        </div>
        <div class="explanation-container ex-1">
          <p class="text">Registre-se como Monitor ou Aluno para as aulas</p>
        </div>
        <div class="arrow arr-2">
          <img src="/assets/img/arrow2.png" alt="" class="arr-1" />
        </div>
        <div class="explanation-container ex-2">
          <p class="text">MONITOR</p>
          <img src="/assets/img/arrow-reto.png" alt="" class="arr-2" />
        </div>
        <div class="image-container">
          <img src="/assets/img/women.png" width="250px" alt="" />
        </div>
        <div class="explanation-container ex-3">
          <p class="text">ALUNO</p>
          <img src="/assets/img/arrow-reto.png" alt="" class="arr-" />
        </div>
        <div class="explanation-container ex-4">
          <p class="text">
            Seja o professor ou tutor de um aluno que necessita de auxílio para
            os estudos, em troca de Horas Complementares
          </p>
        </div>
        <div class="empty"></div>
        <div class="explanation-container ex-5">
          <p class="text">
            Entre como aluno para receber ajuda necessária para provas e
            atividades com os Monitores da Uniso
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
