<main>
  <div class="father">
    <div class="formulario">
      <form action="#" class="">
        <div class="container">
          <div class="group-of-inputs">
            <div class="box" id="onlybox">
              <div id="cadastrese">
                <div title="title">
                  <h1 id="cadastrese-text">REGISTRE-SE</h1>
                </div>
              </div>
              <div class="input-group">
                <div class="group-one">
                  <div class="input-box">
                    <input
                      id="name"
                      type="text"
                      name="name"
                      placeholder="Nome completo"
                      required
                    />
                  </div>
                  <div class="input-box">
                    <label for="email"></label>
                    <input
                      id="email"
                      type="email"
                      name="email"
                      placeholder="E-mail"
                      required
                    />
                  </div>
                  <div class="input-box">
                    <label for="curso"></label>
                    <input
                      id="curso"
                      type="text"
                      name="curso"
                      placeholder="Curso matriculado"
                      required
                    />
                  </div>
                </div>
                <div class="group-two">
                  <div class="input-box">
                    <label for="password"></label>
                    <input
                      id="password"
                      type="password"
                      name="password"
                      placeholder="Senha"
                      required
                    />
                  </div>
                  <div class="input-box">
                    <label for="comfirmpasseord"></label>
                    <input
                      id="comfirmpasseord"
                      type="password"
                      name="comfirmpasseord"
                      placeholder="Confirme sua senha"
                      required
                    />
                  </div>
                  <h4 id="cadastrar">Cadastrar como:</h4>
                  <div class="monitor_ou_estudante">
                    <div class="gender-title"></div>
                    <div class="gender-group">
                      <div class="gender-input">
                        <input
                          type="radio"
                          id="monitor"
                          name="study_or_monitor"
                        />
                        <label for="monitor">Monitor</label>
                        <input
                          type="radio"
                          id="student"
                          name="study_or_monitor"
                        />
                        <label for="student">Estudante</label>
                      </div>
                      <div class="gender-input"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="buttons">
                <div class="continue-button">
                  <button class="continue">Continuar</button>
                </div>
                <div class="login-button">
                  <button class="login" href="#">Já possuo conta</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
