/* ESTRUTURAÇÃO MAIN */
main {
    padding-top: 2em;
    background-color: #434dac;
    background-image: linear-gradient(43deg, #434dac 0%, #C850C0 100%);
    width: 100%;
    height: 100vh;
}

/* CENTRALIZAÇÃO DO CONTAINER DE REGISTRO E PASSAGEM DO TAMANHO */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.register-container {
    width: 80%;
    padding: 1em .5em;
    border-radius: 50px;
    background-color: var(--detail-five-color);
}

/* CONTAINER DO TITULO */

.title-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.title {
    color: var(--detail-one-color);
    font-family: "Quicksand";
    font-weight: bold;
}

/* CONTAINER GERAL DOS DADOS */

.data-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.data-container>div {
    padding: 1em;
}

/* CONTAINER DO DADO DE SENHA */

.pass-container {
    display: grid;
    grid-template-columns: 8fr 1fr;
}

.password {
    width: 95%;
}

.visibility-container {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.visibility-container a {
    color: var(--text-one-color);
}

/* CONTAINER DE CURSOS */

.compressed {
    display: none;
}

.descompressed {
    display: block;
}

.course-container {
    position: relative;
}

.course-container button {
    border: 1px solid var(--text-one-color);
    color: var(--text-one-color);
    background-color: var(--white);
    border-radius: 10px;
    width: 100%;
    margin-top: .3em;
}

.options-box {
    position: absolute;
    height: 30vh;
    width: calc(100% - 15px);
    overflow-y: auto;
    scrollbar-width: 0;
    z-index: 2;
    background-color: var(--detail-four-color);
    padding: 0 1em;
    border-radius: 10px 0 0 10px;
    margin-top: .5em;
}

.option {
    margin: .5em 0;
}

.option label {
    margin-left: .5em;
}

/* INPUTS DE EMAIL E SENHA */

.form-control {
    border-radius: 0px;
    border: 1px solid var(--text-one-color);
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
    text-overflow: ellipsis;
    box-shadow: none;
}

label,
.form-control,
.form-control::placeholder,
button:hover,
.forget-pass:active,
.no-account:active,
button,
.button-login-container button,
.h6 {
    color: var(--text-one-color);
}

.btn {
    position: relative;
    bottom: 0;
    transition: all 250ms ease;
}

.btn:hover {
    bottom: .5em;
    transition: bottom 250ms ease;
}

/* CONTAINER DO DADO DE CATEGORIA */

.cat-title-container,
.category-input-container {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
}

.category-input-container {
    display: flex;
}


.category-input-container>div {
    margin-right: 1em;
    display: flex;
}

.category-input-container>div input {
    margin-right: .5em;
}

/* BOTAO DE ENTRADA LOGIN */

.button-register-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
    grid-column: 1/ span 2;
}

.button-register-container button {
    background-color: var(--detail-two-color);
    padding: .5em 3em;
    font-size: calc(1vw + .1em);
    border-radius: 20px;
    font-size: clamp(15px, 1vw + .1em, 30px);
}

a {
    text-decoration: none;
    color: var(--text-one-color);
}

/* CONTAINER BOTAO NA BASE */

.button-bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.already-account {
    background-color: var(--detail-three-color);
    border-radius: 20px;
    padding: .25em 1em;
    font-size: clamp(15px, 1vw + .1em, 30px);
}

@media (max-width: 500px) {
    main {
        background-color: #434dac;
        background-image: linear-gradient(43deg, #434dac 0%, #C850C0 100%);
        width: 100%;
        height: 100vh;
        padding: 0;
    }

    .register-container {
        width: 95%;
    }

    .data-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .data-container>div {
        padding: 1em 0;
    }

    /* ORGANIZAÇÃO INPUTS */

    .email-container {
        grid-area: 1;
    }

    .pass-container {
        grid-area: 2;
    }

    .confirm-pass-container {
        grid-area: 3;
    }

    .button-register-container {
        grid-column: 1/ span 1;
    }
}