<<<<<<< HEAD
=======
/* ESTRUTURAÇÃO MAIN */
main {
    padding-top: 7em;
    background-color: #b467a5;
    background-image: linear-gradient(43deg, #b467a5 0%, #785bb5 46%, #3e4bab 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

>>>>>>> 98e1305bf66609621da3a462c30383dce553c530
/* CENTRALIZAÇÃO DO CONTAINER DE REGISTRO E PASSAGEM DO TAMANHO */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.register-container {
    width: 80%;
    padding: 3em 3em .5em 3em;
    border-radius: 50px;
    background-color: var(--detail-five-color);
}

/* CONTAINER DO TITULO */

.title-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.title {
    color: var(--detail-one-color);
    font-family: "Quicksand";
    font-weight: bold;
}

/* CONTAINER GERAL DOS DADOS */

.data-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.data-container>div {
    padding: 2em 1em;
}

/* CONTAINER DO DADO DE SENHA */

.pass-container {
    display: flex;
}

.password {
    width: 95%;
}

.visibility-container {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.visibility-container button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

/* INPUTS DE EMAIL E SENHA */

.form-control {
    border-radius: 0px;
    border: 1px solid var(--text-one-color);
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
    text-overflow: ellipsis;
    box-shadow: none;
}

label,
.form-control,
.form-control::placeholder,
button:hover,
.forget-pass:active,
.no-account:active,
button,
.button-login-container button,
.h6 {
    color: var(--text-one-color);
}

.btn {
    position: relative;
    bottom: 0;
    transition: all 250ms ease;
}

.btn:hover {
    bottom: .5em;
    transition: bottom 250ms ease;
}

/* CONTAINER DO DADO DE CATEGORIA */

.cat-title-container,
.category-input-container {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
}

.category-input-container {
    display: flex;
}


.category-input-container>div {
    margin-right: 1em;
    display: flex;
}

.category-input-container>div input {
    margin-right: .5em;
}

/* BOTAO DE ENTRADA LOGIN */

.button-register-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.button-register-container button {
    background-color: var(--detail-two-color);
    padding: .5em 3em;
    font-size: calc(1vw + .1em);
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: var(--text-one-color);
}

/* CONTAINER BOTAO NA BASE */

.button-bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.already-account {
    background-color: var(--detail-three-color);
    border-radius: 20px;
    padding: .25em 1em;
<<<<<<< HEAD
}

/* ______________________________________________________ */

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background: var(--detail-five-color);
    padding: 50px 80px;
    border-radius: 60px;
}

.input-group {
    display: grid;
    column-gap: 50px;
}

.group-one {
    grid-column-start: 1;
}

.group-two {
    grid-column-start: 2;
}

#email,
#curso,
#comfirmpasseord {
    margin-top: 60px;
}

label {
    color: var(--text-one-color);
}

.input-box.input-box.password {
    text-rendering: 5;
}

#cadastrese {
    text-align: center;
}

#cadastrese-text {
    margin-top: 0px;
    margin-bottom: 60px;
    font-family: 'Quicksand', sans-serif;
    color: var(--text-two-color);
    font-size: 50px;
}

.gender-title h4 {
    margin: 10px;
}

.continue-button {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.login-button {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

#cadastrar {
    margin: 2px;
    margin-top: 60px;
    font-family: 'Quicksand', sans-serif;
    color: var(--title-color);
}

.gender-input {
    font-family: 'Quicksand', sans-serif;
}

.continue,
.login {
    background-color: var(--detail-two-color);
    color: var(--title-color);
    border: 0px;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 21px;
    width: auto;
}

.continue {
    margin-top: 30px;
    transition: 1s;
}

/* .continue:hover {
    background-color: black;
    color: white;
} */

.login {
    background-color: var(--detail-four-color);
}

#name,
#email,
#curso,
#password,
#comfirmpasseord {

    border-style: solid;
    border-top-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-left-color: rgba(255, 255, 255, 0);
    border-bottom-color: var(--white);
    /* border-color: rgba(255, 255, 255, 1); */
    background-color: rgba(255, 255, 255, 0);
    font-size: 28px;
    width: 350px;
}

