<main>
  <div class="container">
    <div class="register-container">
      <div class="title-container">
        <h1 class="title">{{ "Registro" | uppercase }}</h1>
      </div>
      <form
        class="data-container"
        [formGroup]="registerForm"
        (ngSubmit)="registerSubmit()"
      >
        <!-- CONTAINER NOME -->
        <div class="name-container">
          <input
            placeholder="Nome completo"
            type="text"
            class="form-control name"
            formControlName="nome"
          />
        </div>
        <!-- CONTAINER SENHA -->
        <div class="pass-container">
          <input
            placeholder="Senha"
            [type]="typeInputPass"
            class="form-control password"
            formControlName="senha"
          />
          <div class="visibility-container">
            <a class="" (click)="changeVisibility()">
              <i [class]="typeEye"></i>
            </a>
          </div>
          <p>*Mínimo 8 caracteres</p>
        </div>
        <!-- CONTAINER EMAIL -->
        <div class="email-container">
          <input
            placeholder="Email"
            type="email"
            class="form-control email"
            formControlName="email"
          />
        </div>
        <!-- CONTAINER CONFIRMAÇÃO SENHA -->
        <div class="confirm-pass-container">
          <input
            placeholder="Confirme sua senha"
            type="password"
            class="form-control con-password"
            [formControl]="senhaConfirm"
          />
        </div>
        <!-- CONTAINER CURSO -->
        <div class="course-container">
          <!-- <input
            type="text"
            placeholder="Curso matriculado"
            class="form-control course"
            formControlName="curso"
          /> -->
          <button class="" type="button" (click)="compressOptions()">
            Curso Matriculado
          </button>
          <p class="text-center">{{ this.registerForm.value.curso }}</p>
          <div class="options-box" [class]="comprimid">
            <div *ngFor="let course of coursesList" class="option">
              <input
                id="{{ course.name }}"
                type="radio"
                formControlName="curso"
                value="{{ course.name }}"
              />
              <label for="course"> {{ course.name }} </label>
            </div>
          </div>
        </div>
        <!-- CONTAINER CATEGORIA -->
        <div class="category-container">
          <div class="cat-title-container">
            <p class="h6 cat-title">Cadastrar como:</p>
          </div>
          <div class="category-input-container">
            <div class="monitor-container">
              <input
                class="form-check-input"
                type="radio"
                id="monitor"
                value="monitor"
                formControlName="categoria"
              />
              <label for="monitor">Monitor</label>
            </div>
            <div class="student-container">
              <input
                class="form-check-input"
                type="radio"
                id="student"
                value="aluno"
                formControlName="categoria"
              />
              <label for="student">Estudante</label>
            </div>
          </div>
        </div>
        <div class="button-register-container">
          <button class="btn" type="submit" [disabled]="!registerForm.valid">
            Registrar
          </button>
        </div>
      </form>
      <div class="button-bottom-container">
        <div class="already-account-container">
          <a routerLink="/login">
            <button class="already-account btn">Já possuo conta</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
