body {
    padding-top: 7em;
    background-color: #b467a5;
    background-image: linear-gradient(43deg, #b467a5 0%, #785bb5 46%, #3e4bab 100%);

    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
