/* MUDAR TEMA DE CORES */

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  min-height: 20px;
  height: 2.5vw;
  aspect-ratio: 2.5/1;
  background: transparent;
  display: block;
  border-radius: 100px;
  position: relative;
  border: .25vw solid var(--normal-yellow);
  max-width: 140px;
}

label:after {
  content: '';
  position: absolute;
  top: .25vw;
  left: .3vw;
  height: 1.5vw;
  min-height: 10px;
  aspect-ratio: 1/1;
  background: transparent;
  border: .25vw solid var(--normal-yellow);
  border-radius: 50%;
  transition: 0.3s;
}

input:checked+label {
  background: transparent;
  border-color: var(--white);
}

input:checked+label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
  background-color: transparent;
  border-color: var(--white);
}

/* TAMANHO LOGOTIPO */

.img-container {
  width: 10vw;
}

.img-container img {
  width: 100%;
}

/* TAMANHO LINKS */

.h4 {
  font-size: calc(1vw + .4em);
}

/* TAMANHO ICONE PERFIL */

.icon-profile-container a {
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.icon-profile-container img {
  width: calc(1vw + 2em);
}

.icon-profile-container p {
  font-size: 5px;
  width: 18px;
  height: 18px;
  background-color: var(--red);
  border-radius: 50%;
  position: relative;
  right: 3em;
  top: 3em;
}

/* CONTAINER POSIÇÃO */

.transparent {
  background: transparent;
}

.colored {
  background: var(--background-color);
}

nav {
  width: 100%;
  height: 6em;
  z-index: 1;
}

.fixed {
  position: fixed;
}

/* CONTAINERS DE LOGIN E REGISTRO DESLOGADO  */

.pulse {
  background: var(--detail-two-color);
  border: none;
  border-radius: 20px;
  color: var(--text-one-color);
  padding: .5em 1em;
  cursor: pointer;
  box-shadow: 0 0 0 0 var(--pulse-color);
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);
  }
}

@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);
  }
}

@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);
  }
}

/* LINK */

.anchor-link {
  text-decoration: none;
  color: var(--text-one-color);
  font-family: "Quicksand";
}

/* NAVBAR CENTRALIZAÇÃO */

.navbar {
  align-items: center;
}

.navbar>div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) and (orientation: portrait) {

  nav {
    height: 4em;
  }

  .navbar {
    justify-content: space-between;
    padding: 0 1em;
  }

  .navbar>div:not(.img-container, .change-theme-container) {
    display: none;
  }

  .img-container {
    width: 30%;
  }

  label {
    min-height: 20px;
    height: 6vw;
    border: 2px solid var(--normal-yellow);
    max-width: 200px;
  }

  label:after {
    content: '';
    position: absolute;
    top: .7vw;
    left: .6vw;
    height: 3.5vw;
    min-height: 10px;
    aspect-ratio: 1/1;
    background: transparent;
    border: 2px solid var(--normal-yellow);
    border-radius: 50%;
    transition: 0.3s;
  }
}