<div class="container">
    <nav class="navbar">
        <div class="img-container">
            <img src="/assets/img/u-teach-icon.png" alt="" />
        </div>
        <div class="login-container">
            <p class="h3">{{ "Login" | uppercase }}</p>
        </div>
        <div class="registro-container">
            <p class="h3">{{ "Registre-se" | uppercase }}</p>
        </div>
        <div class="how-works-container">
            <p class="h3">{{ "Como Funciona" | uppercase }}</p>
        </div>
        <div class="contact-container">
            <p class="h3">{{ "Contato" | uppercase }}</p>
        </div>
        <div class="change-theme-container">
            <div class = 'toggle-switch'>
                <label>
                    <input type = 'checkbox'>
                    <span class = 'slider'></span>
                </label>
            </div>
        </div>
    </nav>
</div>