<main id="contact">
  <div class="container">
    <div class="tudo">
      <div class="container_geral1">
        <div class="title-container">
          <h1 class="contact">CONTATO</h1>
          <p class="descricao">
            Sinta-se livre para nos contatar a qualquer momento. Retornaremos o
            mais cedo possível.
          </p>
        </div>
        <form action="" class="email-contact">
          <div class="barra_de_input">
            <input placeholder="Nome" type="text" />
            <input placeholder="Email" type="email" />
            <input placeholder="Mensagem" type="text" />
          </div>
          <div class="container_button">
            <button type="submit" class="button_entrar">Enviar</button>
          </div>
        </form>
      </div>
      <div class="container_informacoes">
        <div class="container-box">
          <p class="info">INFORMAÇÕES</p>
          <!-- <img src="/assets/img/book.png" alt="" /> -->
          <div class="left-container">
            <p class="email_info">xxxxx&#64;aluno.uniso.br</p>
            <p class="numero_info">(15)xxxxx-xxxx</p>
            <p class="uniso_info">
              Universidade de Sorocaba UNISO - <br />
              Rodovia Raposo Tavares - Sorocaba, SP
            </p>
          </div>
          <img src="/assets/img/image.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="blue-strip-container"></div>
</main>
