
<main>
    <h1 class="contact">Contato</h1>
    <p class="Descrição">Sinta-se livre para nos contatar a qualquer momento. Retornaremos o mais cedo possível</p>
    <div class="barra_de_input">
        <input placeholder="Nome" type="text">
        <input placeholder="Email" type="email">
        <input placeholder="Mensagem" type="text">
    </div>

    <div class="container_informações">
        <p class="email_info">xxxxx@aluno.uniso.br</p>
        <p class="numero_info">(15)xxxxx-xxxx</p>
        <p class="uniso_info">Universidade de Sorocaba UNISO - Rodovia Raposo Tavares - Sorocaba, SP</p>
    </div>
        <button>Entrar</button>
</main>