
<main>
    <div class="tudo1">
        <div class="tudo">
            <div class="container_geral1">
                <h1 class="contact">CONTATO</h1>
                <p class="descricao">Sinta-se livre para nos contatar a qualquer momento. Retornaremos <br> o mais cedo possível</p>
                <div class="barra_de_input">
                    <input placeholder="Nome" type="text">
                    <input placeholder="Email" type="email">
                    <input placeholder="Mensagem" type="text">
                </div>
            </div>


            <img src="" alt="">
            <div class="container_informacoes">
                <p class="info">INFORMAÇÕES</p>
                <p class="email_info">xxxxx@aluno.uniso.br</p>
                <p class="numero_info">(15)xxxxx-xxxx</p>
                <p class="uniso_info">Universidade    de    Sorocaba    UNISO    -    <br>    Rodovia    Raposo    Tavares - Sorocaba,    SP</p>
            </div>
        </div>
            
        <div class="container_button">
                <button class="button_entrar">Enviar</button>
        </div>
    </div>
</main>