* {
    font-family: "nunito";
}

.tudo {
    margin-top: 3em;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.container_geral1 {
    width: 50%;
}

.container_geral1>div {
    font-size: 23px;
    color: var(--text-one-color);
}

.title-container h1 {
    margin-bottom: 1em;
    color: var(--text-one-color);
}

.contact {
    font-family: "Quicksand";
    font-weight: bold;
}

.barra_de_input {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.barra_de_input input {
    width: 100%;
    margin-top: 100px;
    border: none;
    border-bottom: 1px solid var(--text-one-color);
    background-color: unset;
    outline: none;
    font-size: 1em;
    color: var(--title-color);
}

.container_informacoes {
    display: flex;
    align-items: center;
    justify-items: center;
    align-self: flex-start;
}

.container-box {
    background-color: var(--dark-yellow);
    width: 100%;
    height: 100%;
    border-radius: 70px;
    align-self: flex-start;
}

.container-box p {
    margin: 3em;
    font-size: calc(1vw + .3em);
}

.info {
    text-align: center;
    font-weight: bold;
}

.container-box img {
    float: right;
    margin-top: -2em;
}

.container_button {
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    z-index: 1;
}

.button_entrar {
    background-color: var(--detail-three-color);
    border-radius: 20px;
    width: 100%;
    height: 40px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    z-index: 2;
    color: var(--text-one-color);
}

/* BARRA AZUL INFERIOR */

.blue-strip-container {
    background-color: var(--detail-six-color);
    height: 8em;
    width: calc(100vw - 15px);
    position: absolute;
    margin-top: -8em;
    z-index: 0;
}