body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.half {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-main {
    display: none;
}

.uni-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uni-container p {
    border-radius: 75px;
    border: .3vw solid var(--text-two-color);
    color: var(--text-two-color);
    padding: .2em;
    font-family: "Quicksand";
    width: 100%;
    text-align: center;
    font-size: calc(1vw + 2em);
    width: 80%;
}

.text-container p:not(span) {
    font-family: "Nunito";
    font-size: calc(1vw + 1em);
    color: var(--detail-one-color);
    text-align: center;
}

.text-container p span {
    color: var(--dark-yellow);
    font-weight: bold;
}

/* .form-control {
    border-radius: 50px 0 0 50px;
    border: 1px solid var(--text-one-color);
    border-right: none;
    background-color: transparent;
    font-size: calc(1vw + 1em);
    text-overflow: ellipsis;
    box-shadow: none;
    color: var(--text-one-color);
    padding-left: .7em;
}

.form-control::placeholder {
    color: var(--text-one-color);
}

.search-icon {
    aspect-ratio: 2/1;
    border-radius: 0px 50px 50px 0px;
    border: 1px solid var(--text-one-color);
    border-left: none;
    background: var(--normal-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0px 50px 50px 0px;
}

.search-icon button .bi-search {
    font-size: calc(1vw + .6em);
    color: var(--black);
} */

.nav-mob {
    display: none;
}

.logo {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-outside {
    width: 80%;
    background: var(--detail-two-color);
    aspect-ratio: 1/1;
}

.logo-middle {
    width: 87.5%;
    height: 87.5%;
    background: var(--detail-three-color);
}

.logo-center {
    width: 85%;
    background-color: var(--white);
}

.logo-center img {
    width: 100%;
}

@media (max-width: 1100px) and (min-width: 501px) {
    body {
        height: 60vh;
    }
}

@media (max-width: 500px) and (orientation: portrait) {
    body {
        padding: 4em 0;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 1em;
        height: 100%;
    }

    .right-section {
        display: none;
    }

    .left-section {
        display: block;
        height: 100%;
        position: relative;
    }

    .title-container {
        margin: 3em 0 8em 0;
    }

    .uni-container {
        width: 70vw;
    }

    .logo-main {
        display: block;
        width: 100%;
    }

    .quick {
        display: none;
    }

    .nav-mob {
        position: absolute;
        display: inline-block;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        bottom: 5vh;
    }

    .nav-mob>div {
        width: 35%;
        display: flex;
        justify-content: center;
        border-radius: 20px;
    }

    .nav-mob>div a {
        text-decoration: none;
        line-height: 2;
    }

    .register-mob,
    .login-mob {
        border: 2px solid var(--text-two-color);
    }

    .register-mob a {
        color: var(--text-two-color);
    }

    .login-mob {
        background-color: var(--text-two-color);
    }

    .login-mob a {
        color: var(--detail-four-color);
    }
}