<body id="home">
  <div class="container p-0">
    <section class="left-section half">
      <div class="right-container">
        <div class="title-container row justify-content-center">
          <div class="uni-container col-lg-10 col-sm-12">
            <p class="h1 quick">
              {{ "UNI MONITOR" | uppercase }}
            </p>
          </div>
        </div>
        <div class="text-container row justify-content-center py-4">
          <p class="h4 nuni col-10">
            Encontre o melhor <span>monitor</span> para as suas dúvidas e
            <span>aprendizado</span>
          </p>
        </div>
        <div class="search-bar row justify-content-center">
          <div class="col-8 p-0">
            <input
              type="text"
              class="form-control form-control-lg"
              id="floatingInput"
              placeholder="Pesquisar matéria/assunto"
            />
          </div>
          <div class="search-icon col-2 p-0">
            <button>
              <i class="bi-search"></i>
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="right-section half">
      <div class="logo logo-outside">
        <div class="logo logo-middle">
          <div class="logo logo-center">
            <div class="logo-container">
              <img src="/assets/img/logo-uniso.webp" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
